{% extends "base.html" %}

{% block title %}Quem Somos - NEOLIBRES{% endblock %}

{% block content %}
    <section class="about-us-page">
        <h1>Quem Somos Nós</h1>
        <p>Bem-vindo ao NEOLIBRES, sua porta de entrada para um universo de conhecimento e imaginação. Somos uma plataforma dedicada a tornar a leitura acessível a todos, em qualquer lugar e a qualquer hora.</p>
        <p>Nossa missão é fomentar o hábito da leitura e democratizar o acesso a obras literárias de diversos gêneros e autores. Acreditamos que o conhecimento é uma ferramenta poderosa para a transformação individual e coletiva, e é por isso que nos esforçamos para oferecer um acervo vasto e em constante crescimento.</p>
        <p>Aqui você encontrará desde clássicos da literatura mundial até os mais recentes lançamentos, passando por obras de ficção científica, fantasia, romance, história, autoajuda e muito mais. Nossa interface intuitiva e recursos de busca avançada garantem que você encontre exatamente o que procura, ou descubra sua próxima grande leitura por acaso.</p>
        <p>Além de proporcionar acesso fácil a livros, também nos preocupamos em construir uma comunidade de leitores. Encorajamos a interação, o compartilhamento de ideias e a descoberta conjunta de novas histórias.</p>
        <p>Junte-se a nós nesta jornada literária! Explore, aprenda e inspire-se com o NEOLIBRES.</p>
    </section>
{% endblock %}